.wrapper {
  margin-top: 48px;
  margin-bottom: 48px;
  cursor: pointer;
}

.button__blue_modal {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 100%;
  border-radius: 5px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  background-color: #2495fe;
  color: white;
  white-space: nowrap;
}
