.searchResult {
  padding-top: 48px;
  padding-bottom: 64px;
  border-bottom: 1px solid rgba(4, 3, 6, 0.2);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-dark);
  display: flex;
  padding-left: 826px;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1400px) {
    & {
      padding-left: 0px;
    }
  }
  @media (max-width: 800px) {
    display: none;
  }
  &__button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-inline: auto;
    cursor: pointer;
    background-color: transparent;
    border: none;

  }
}

